@full-width: 930px;
@font-family: "Papyrus", serif;
//@font-family: serif;
@border: groove #c93f00;
@button-border: 1px outset grey;
@button-border-active: 2px inset grey;
@button-radius: 25px;

.sheet-serenity-charactersheet {
    font-family: @font-family;
    font-size: 12pt;
    position: relative;
    max-width: @full-width;
    box-sizing: border-box;
    
    *, *:before, *:after {
      box-sizing: inherit;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      font-family: @font-family;
      border-collapse: separate;
      line-height: normal;
    }
    
    select { margin: 2px; }
    input[type="text"] { margin: 2px 0; }
    input[type="radio"] { margin: 3px 3px 0 5px; }
    fieldset, .sheet-serenity-fieldset { 
        padding: 20px 6px 5px 6px; 
        margin: 0 2px; 
        border: 2px groove #c93f00; 
        position: relative; 
    }
    fieldset { border: none; padding: 0; }
    .sheet-serenity-fieldset:before
    {
        content: attr(title);
        position: absolute;
        top: -15px;
        left: 10px;
        padding: 0 5px;
        background-color: white;
        text-align: left; font-weight: bold; font-size: 125%;
    }
    .sheet-tab { font-family: @font-family; font-weight: bold;}
    .sheet-serenity-float-group {
        max-width: @full-width;
        margin: auto;
        
        &:after { content:''; clear: both; display: block; margin-bottom: 15px;}
    }
    
    @totalWounds: 23;
    @totalShocks: 13;
    @maxPlotPoints: 12;
    
    .sheet-character-info {
        width: 100%;
        border: 2px @border;
        text-align: right;
        padding: 0 5px;
        
        tr:first-child { vertical-align: top; }
        tr:last-child { vertical-align: top; }
        input { width: 275px; }
        textarea { width: 225px; height: 100%;}
        
        .sheet-serenity-logo {
            min-width: 1px;
            padding: 0 10px;
            img { width: 175px; }
        }
        
        .sheet-serenity-label {
            width: 1px;
            white-space: nowrap;
            padding-right: 5px;
        }
    }
    
    .sheet-character-life-points {
        margin: 0 auto;
        width: 750px;
        
        // The bars themselves
        .sheet-serenity-stuns-taken,
        .sheet-serenity-wounds-taken {
            display: flex;
            padding-left: 10px;
            height: 35px;
        }
        .sheet-serenity-stuns-taken { 
            border-radius: 30px 0 0 0;
            .gradient(left, #e8af20, #c93f00);
        }
        .sheet-serenity-wounds-taken {
            border-radius: 0 0 30px 0;
            .gradient(left, #c93f00, #e8af20);
        }
        .sheet-serenity-shocks-taken { 
            border-radius: 0 0 30px 30px;
            .gradient(to right, #cedce7 , #596a72);
            
            display: flex;
            width: 475px;
            padding-left: 15px;
            height: 30px;
        }
        
        //The buttons
        @radioButton: {
            width: 24px;
            height: 24px;
            margin: 3px 3px 0 3px;
            cursor: pointer;
        };
        @common0Before: {
            font-size: 150%;
            font-weight: bold;
            font-family: @font-family;
            line-height: 27px;
            top: 2px; right: -1px;
            border: none;
            box-shadow: none;
        };
        @stun0Before: {
            @common0Before();
            content: 'S';
            background: #e8af20;
        };
        @wound0Before: {
            @common0Before();
            content: 'W';
            background: #e8af20;
        };
        @shock0Before: {
            @common0Before();
            content: 'Shock';
            .gradient(to right, #cedce7, #c0ccd6);
            font-size: 100%;
            top: 0;
            right: 25px;
        };
        @commonCheckedBefore: { 
        	background-color: red;
        };
        @commonBefore: {
            @radioButton();
            text-align: center; font-weight: bold;
            font-size: 9pt;
            margin: auto auto;
        	position: absolute;
        	top: 0; bottom: 0; right: 0;
        	cursor: pointer;
            background-color: lightgrey;
            box-shadow: 1px 1px 2px #333;
        };
        @shockBefore: {
            @commonBefore();
            width: 24px;
            height: 24px;
        };
        .addRadioBar( @totalWounds, false, sheet-serenity-stuns-taken, sheet-serenity-stun, @radioButton, @stun0Before, @commonBefore, @commonCheckedBefore );
        .addRadioBar( @totalWounds, true,  sheet-serenity-wounds-taken, sheet-serenity-wound, @radioButton, @wound0Before, @commonBefore, @commonCheckedBefore );
        .addRadioBar( @totalShocks, false, sheet-serenity-shocks-taken, sheet-serenity-shock, @radioButton, @shock0Before, @shockBefore, @commonCheckedBefore );
        input[type="radio"].sheet-serenity-shock0 { width: 48px; }
        div.sheet-serenity-stun, div.sheet-serenity-wound { cursor: default; }
        
        .sheet-serenity-life-points { float: left; }
        .sheet-serenity-life-penalty { float: right; }
        
    }
    
    .sheet-character-attributes {
        text-align: right;
        float: left;
        height: 230px;
        width: 180px;
    }
    .sheet-character-derived-traits {
        text-align: right;
        width: 405px;
        height: 230px;
        float: left;
        padding-bottom: 13px;
        
        td:not(:last-child) { padding-right: 10px; }
        input { width: 90px; }
        .sheet-character-derived-explanation { font-size: 60%; }
    }
    .sheet-serenity-plot-points {
        height: 230px;
        width: 330px;
        position: relative;
        float: right;
        
        .sheet-serenity-plot-points-input { 
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .sheet-serenity-plotpoint0 + span { flex-basis: 100%; }
        }
        
        //The buttons
        @radioButton: {
            width: 40px;
            height: 25px;
            cursor: pointer;
        };
        @plotPointCheckedBefore: { 
        	background-color: #e8af20;
        };
        
        @plotPoint0Before: {
            font-family: @font-family;
            font-weight: bold;
            line-height: 25px;
            left: 7px;
            top: -28px;
        };
        @commonBefore: {
            @radioButton();
            text-align: center; font-weight: bold;
        	position: absolute;
        	top: 0; bottom: 0; right: 0;
        	cursor: pointer;
            background-color: lightgrey;
            box-shadow: 1px 1px 2px #333;
        };
        
        .addRadioBar( @maxPlotPoints, false, sheet-serenity-plot-points-input, sheet-serenity-plotpoint, @radioButton, @plotPoint0Before, @commonBefore, @plotPointCheckedBefore );
        .sheet-serenity-plotpoint0:checked + span:before { background-color: darkgrey; }
        .sheet-serenity-plotpoint0:active + span:before { border: @button-border-active; }
         
        table { font-size: 10pt; white-space: nowrap; bottom: 0; position: absolute; }
        td:first-child { border-right: 1px solid grey; padding-right: 5px; padding-bottom: 5px; text-align: right; }
        td:last-child { padding-left: 2px; text-align: left; }
        
    }
    
    
    
    .sheet-character-skills {
        text-align: right;
        float: left;
        width: 450px;
        td:nth-child(2) { border-right: 2px @border; padding-right: 10px; padding-bottom: 5px;}
        td:nth-child(3) { padding-left: 10px; }
    }
    .sheet-serenity-character-specialties {
        float: right;
        width: 470px;
    }
    .sheet-serenity-character-assets {
        float: left;
        width: 450px;
    }
    .sheet-serenity-character-complications {
        float: right;
        width: 470px;
    }
    
    
    .sheet-serenity-character-specialties,
    .sheet-serenity-character-assets,
    .sheet-serenity-character-complications {
        text-align: right;
    }
    
    .sheet-serenity-asset-specialization,
    .sheet-serenity-complication-specialization {
        white-space: nowrap;
    }
    
    
    
    .sheet-serenity-currency {
        width: 440px;
        float: left;
        height: 210px;
        input { width: 130px; margin-left: 10px; }
        .sheet-serenity-currency-conversions { text-align: center; padding-top: 5px;}
    }
    .sheet-serenity-combat-actions {
        float: right;
        height: 210px;
        width: 480px;
        padding-bottom: 13px;
        
        table { font-size: 11pt; text-align: right; margin: 0 auto; }
        td:first-child { border-right: 1px solid grey; padding-right: 5px; padding-bottom: 5px;}
        td:last-child { padding-left: 5px; }
    }
    
    
    .sheet-serenity-character-equipment {
        float: left;
        width: 440px;
        
        textarea {
            min-height: 250px;
            width: 100%;
        }
    }
    .sheet-serenity-character-weapons {
        float: right;
        width: 480px;
        margin-bottom: 15px;
        
        .sheet-serenity-unarmed {
            border-bottom: 2px groove #c93f00;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .sheet-serenity-weapon-name-label,
        .sheet-serenity-weapon-damage-label,
        .sheet-serenity-weapon-range-label,
        .sheet-serenity-weapon-rof-label,
        .sheet-serenity-weapon-magazine-label,
        .sheet-serenity-weapon-weight-label {
            display: inline-block;
            font-size: 75%;
        }
    
        .sheet-serenity-weapon-name-label { width: 170px; }
        .sheet-serenity-weapon-damage-label { width: 115px; }
        .sheet-serenity-weapon-range-label { width: 50px; }
        .sheet-serenity-weapon-rof-label { width: 40px; }
        .sheet-serenity-weapon-magazine-label { width: 30px; }
    
        .sheet-serenity-unarmed .sheet-serenity-weapon-name { display: inline-block; margin-right: -2px; }
        .sheet-serenity-weapon-name { width: 160px; }
        .sheet-serenity-weapon-damage, 
        .sheet-serenity-weapon-weight,
        .sheet-serenity-weapon-rof,
        .sheet-serenity-weapon-magazine { 
            width: 35px;
        }
        .sheet-serenity-weapon-range { width: 50px; }
    }
    .sheet-serenity-character-armor {
        float: right;
        width: 480px;
        margin-bottom: 15px;
        
        .sheet-serenity-armor-name-label,
        .sheet-serenity-armor-rating-label,
        .sheet-serenity-armor-penalty-label,
        .sheet-serenity-armor-weight-label {
            display: inline-block;
            font-size: 75%;
            white-space: nowrap;
        }
        
        .sheet-serenity-armor-name-label { width: 160px; }
        .sheet-serenity-armor-rating-label { width: 115px; }
        .sheet-serenity-armor-penalty-label { width: 80px; }
        
        .sheet-serenity-armor-name { width: 160px; }
        .sheet-serenity-armor-rating, 
        .sheet-serenity-armor-weight {
            width: 35px;
        }
        .sheet-serenity-armor-penalty { width: 40px; }
        .sheet-serenity-armor-effects { width: 335px; }
    }
    .sheet-serenity-notes,
    .sheet-serenity-explanation,
    .sheet-serenity-history
    {
        margin-bottom: 15px;
        textarea {
            min-height: 200px;
            width: 100%;
        }
    }
    /* Mixin */
    .gradient (@origin: left, @start: #ffffff, @stop: #000000) {
        background-color: @start;
        background-image: -webkit-linear-gradient(@origin, @start, @stop);
        background-image: -moz-linear-gradient(@origin, @start, @stop);
        background-image: -o-linear-gradient(@origin, @start, @stop);
        background-image: -ms-linear-gradient(@origin, @start, @stop);
        background-image: linear-gradient(@origin, @start, @stop);
    }
    
    .addRadioBar ( @num, @invert, @container_class, @indiv_class, @radio_css, @first_before_css, @regular_before_css, @regular_checked_css ) {
    
        .orderingLoop(@counter) when (@counter >= 0) {
          .orderingLoop((@counter - 1));    // next iteration
          .@{indiv_class}@{counter} when (@invert = false) { 
              order: @counter + 1;
              & + span { order: @counter + 1; }
              & + span:before { content: %( "%a", @counter ); }
          }
          .@{indiv_class}@{counter} when (@invert = true) {
              order: @num - @counter + 1;
              & + span { order: @num - @counter + 1; }
              & + span:before { content: %( "%a", @counter ); }
          }
        }
        .orderingLoop( @num );
        
        //The labels
        .@{container_class} .@{indiv_class}0 + span:before {
            @regular_before_css();
            @first_before_css();
        }
        
        // The button styles
        .@{container_class} {
            input + span:before {
                border: @button-border;
                border-radius: @button-radius;
                @regular_before_css();
            }
        }
        .@{indiv_class}:not(.@{indiv_class}0):active + span:before { border: @button-border-active; }
       
        .@{indiv_class} { 
            opacity: 0;
            z-index: 1;
            @radio_css();
        }
        
        input[type="radio"].@{indiv_class} + span { position: relative; }
        input[type="radio"]:checked:not(.@{indiv_class}0).@{indiv_class} + span:before,
        input[type="radio"]:checked.@{indiv_class} ~ input:not(.@{indiv_class}0).@{indiv_class} + span:before
        { 
        	@regular_checked_css();
        }
    }
}