@tab-width: 150px;
@tab-height: 30px;

div.sheet-tab-content { 
    visibility: hidden; 
    bottom: 0;
    position: absolute;
    margin-top: @tab-height * 1.5;
    width: 100%;
}

input[type="radio"].sheet-tab1:checked ~ div.sheet-tab1-content,
input[type="radio"].sheet-tab2:checked ~ div.sheet-tab2-content,
input[type="radio"].sheet-tab3:checked ~ div.sheet-tab3-content,
input[type="radio"].sheet-tab4:checked ~ div.sheet-tab4-content
{
    visibility: visible;
    top: 0;
}
input[type="radio"].sheet-tab {
    opacity: 0;
    z-index: 1;
    width: @tab-width;
    height: @tab-height;
    cursor: pointer;
    margin: 0;
}
input[type="radio"].sheet-tab + span { position: relative; margin: -1.5px;}

input[type="radio"].sheet-tab + span:before
{
    content: attr(title);

    position: absolute;
    left: -@tab-width;
    
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    .gradient(left, #e8af20, #c93f00);
    border-radius: 5px 5px 0px 0px;
    width: @tab-width;
    height: @tab-height;
    font-size: 18px;
    z-index: -1;
}

input[type="radio"].sheet-tab:checked + span:before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}